body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: black;
}

h1 {
    color: greenyellow;
}
nav{
    margin-bottom: 20px;
}

nav a{
    margin-right: 15px;
}

#contentContainer{
    min-height: 300px;
}

footer{
    margin-top: 50px;
}